/* Styles go here */
#home{
    width:50%;
    padding-top: 10%;
    margin: auto;
}
.form{
    width:90%;
    padding-top: 10%;
    margin: auto;
    /* float:left; */
    text-align: left;
}
.form-left {
/* float: left; */
}