@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@1,900&family=Fira+Sans+Extra+Condensed:ital,wght@1,900&display=swap');
/* Styles go here */
body{
    background: lightgray
}
.logo{
    font-family: 'Fira Sans Condensed', sans-serif;
    /* font-family: 'Fira Sans Extra Condensed', sans-serif; */
}
#home{
    width:50%;
    padding-top: 10%;
    margin: auto;
}
.form{
    width:90%;
    padding-top: 10%;
    margin: auto;
    /* float:left; */
    text-align: left;
}
.form-left {
/* float: left; */
}
.createPromotionPage{
    width:50%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: auto;
}
.promotionsSection{
    width: 100%;
    text-align: left;
}
.homePage{
    width:100%;
}
table{
    border-spacing: 15px !important;
}
.promotionsTable{
    border-collapse: separate;
    width: 100vw;
    border-spacing: 15px !important;
}
.promotionsRow{
    margin: 5px;
}
.promotionsCell{
    width: 15%;
    padding: 10px;
}
table, th, td {
    padding: 15px;
  }
.repositoriesSection{
    width: 100%;
    text-align: center;
}
.repoDiv{
    margin: auto;
    margin-top: 5px;
    width: 15%;
    padding: 10px;
    background-color: aliceblue;
}
.jobForm{
    width: 40%;
}
.jobInput{
    display: block;
    width: 250px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
.btn-primary {
    margin: 5px;
}